# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.PongGame.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\UnityProject\PongGame\PongGame\.idea\.idea.PongGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
